@use "../theme";

$shell-radius: 14px;
$input-radius: 13px;

window.runner {
  all: unset;
  background: transparent;
  color: theme.$fg;

  .runner-shell {
    min-width: 640px;
    margin: 36px 24px 0;
    border: 1px solid theme.$fg; // not $border because i want a highlight.
    border-radius: $shell-radius;
    background: theme.$bg;
  }

  .runner-input {
    padding: 16px 18px;
    border-bottom: 1px solid theme.$headerbar-border;
    border-radius: $input-radius $input-radius 0 0;
    background: theme.$headerbar-bg;

    &.empty {
      border-bottom-color: transparent;
      border-radius: $input-radius;
    }

    icon {
      min-width: 20px;
      min-height: 20px;
      margin-right: 14px;
      color: theme.$fg;
    }

    entry {
      all: unset;
      min-height: 32px;
      color: theme.$fg;
      font-family: theme.$font;
      font-size: 20px;

      selection {
        color: theme.$selected-fg;
        background-color: theme.$selected-bg;
      }
    }
  }

  .runner-results {
    padding: 8px;

    button {
      padding: 10px 12px 10px 9px;
      border-left: 3px solid transparent;
      border-radius: 0;

      &.selected {
        border-left-color: theme.$fg;
      }
    }
  }

  .runner-result {
    icon {
      min-width: 44px;
      min-height: 44px;
      margin-right: 14px;
      font-size: 32px;
    }

    .result-glyph-slot {
      min-width: 44px;
      min-height: 44px;
      margin-right: 14px;
      font-size: 32px;
    }

    label {
      font-family: theme.$font;
    }

    .title {
      color: theme.$fg;
      font-size: 16px;
      font-weight: 600;
    }

    .description {
      font-size: 13px;
    }
  }
}
