window.bar {
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0;
  background-color: transparent;
}

button:hover {
  border-bottom: 3px solid;
  background-color: rgba(224, 224, 224, 0.15);
}

button:active {
  background-color: #e0e0e0;
}

button:active * {
  color: black;
}


label {
  font-weight: bold;
}

.workspaces button.focused {
  border-bottom: 3px solid;
}

.client-title {
}

.notification {
  color: yellow;
}

levelbar block,
highlight {
  min-height: 2px;
  min-width: 2px;
  padding: 0;
  margin: 0;
}
